
  <div class="video-wrapper">
    <video
      class="video"
      autoplay
      playsinline
      #videoRef
      ></video>
    <div *ngIf="cameraStarted && !errorMessage" [ngClass]="faceState + ' oval'"></div>
  </div>
  <p style="width: 80%; overflow: scroll">{{ videoSettings | json }}</p>


  <div *ngIf="feedbackMessage">
    <div class="snackbar-content">
      {{ feedbackMessage }}
    </div>
  </div>

  <img id="image" [src]="imageCaptured" />

  <div *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
  </div>

  <div>
    <button
    [disabled]="isCameraReady"
      (click)="startCamera()"
      class="restart-button"
    >
      Start camera
    </button>
    <button id="find-face" (click)="findFace()" [disabled]="!isFindFaceReady">Retake Photo</button>
  </div>

