<app-header [value]="20" [step]="currentStep" [goToRoute]="'/instructions'" cl></app-header>

<div *ngIf="loading" class="loading">
  <p-progressSpinner [style]="{width: '250px', height: '250px'}" strokeWidth="1" styleClass="custom-spinner" ></p-progressSpinner>
</div>
<div [ngClass]="{'face-capture-hide': loading}">

  <div class="video-wrapper">
    <video
      class="video"
      autoplay
      playsinline
      #videoRef
      ></video>
    <div *ngIf="cameraStarted && !errorMessage" [ngClass]="faceState + ' oval'">
      <div class="snackbar-content" *ngIf="feedbackMessage">
        <p>{{ feedbackMessage | titlecase }}</p>
      </div>
    </div>
  </div>

  <img id="image" [src]="imageCaptured" />

</div>


