<div class="welcome">
  <div class="header">
    <img src="assets/DemoBank.png" alt="">
  </div>
  <div class="content">
    <section class="welcome-information">
      <h1 class="title">Identity Verification Process</h1>
      <p class="description">
        Open your account quickly and easily using the Demo Company digital onboarding flow to verify your identity. Click Apply Now to begin.
      </p>
      <app-button class="welcome-btn" routerLink="face-capture" [label]="'Apply now'" [costumClass]="'--blue'"></app-button>
    </section>
    <section class="image-section">
      <img class="portrait" src="assets/portrait.png" alt="">
    </section>
  </div>
</div>





