.header {
  text-align: center;
  margin: 10px 0 40px; /* Ajusta el valor según sea necesario */
  img{
    width: 40%
  };
}
.content {
  display: grid;
  grid-template-columns: 1fr; /* Por defecto, una columna para pantallas pequeñas */
  gap: 20px; /* Espacio entre columnas */
}

@media (min-width: 900px) {
  .content {
    grid-template-columns: 1fr 1fr; /* Dos columnas para pantallas grandes */
  }
}
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.welcome-information{
  width: 60%;
}

.welcome-information,
.image-section {
  margin: 0 auto; /* Centra horizontalmente el contenido */
  text-align: center;
}

.portrait{
  width: 30%;
}
