.header {
  text-align: center;
  margin:40px 0 0 0; /* Ajusta el valor según sea necesario */
  img{
    width: 60%
  };
}
.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  align-items: center;
}

@media (min-width: 900px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }
}
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.welcome-information{
  width: 60%;
  .description{
    text-align: start;
    margin-bottom: 40px;
  }
}

.welcome-information,
.image-section {
  margin: 40px auto; /* Centra horizontalmente el contenido */
  text-align: center;
}


.portrait{
  width: 30%;
}
