.btnCustom{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  &--blue{
    background-color: #35b3da;
  }
  &--yellow{
    background-color: rgb(221, 214, 18);
    color: black;
  }
  &--green{
    background-color: #6989A1;
  }
}
.border{
  border-radius: 20px;
}
